server {
	listen 443 ssl http2;
	server_name "${NGINX_HOST}";

        ssl_certificate /etc/letsencrypt/live/crashhub/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/crashhub/privkey.pem;

	location / {
		proxy_pass http://localhost:8081;
	}

}
